.container_comman {
  padding: 0 6%;
  width: 100%;
  margin: 0;
}
.header_container {
  border-top: 3px solid #125ea4;
  border-bottom: 3px solid #125ea4;
  padding-top: 14px;
  position: relative;
}
.header_first_layer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_brand > img {
  width: 59%;
}
.contacts {
  display: flex;
}

.contacts > figure {
  display: flex;
  align-items: center;
  margin-right: 55px;
}

.contacts > figure:last-child {
  margin-right: 0;
}

.contacts > figure > i {
  margin-right: 5px;
}

.header_nav {
  list-style: none;
  text-align: center;
  margin-top: 13px;
}

.header_nav > li {
  display: inline-block;
  border-right: 1px solid #fff;
}
.header_nav > li > a {
  padding: 5px 15px;
  text-decoration: none;
  color: #777;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.header_nav > .sm_brnd_holder {
  display: none !important;
}
.active_nav {
  background: #125ea4;
  color: #fff !important;
}
.header_nav > li > a:hover {
  background: #125ea4;
  color: #fff;
}
.hamburger_toggle_btn {
  display: none;
}
@media only screen and (max-width: 992px) {
  .header_container {
    padding-bottom: 21px;
  }
  .header_first_layer {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .contacts {
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px dashed #e6e6e6;
    margin-bottom: 17px;
  }
  .hamburger_toggle_btn {
    display: block;
    position: absolute;
    top: 51%;
    right: 8%;
    font-size: 27px;
  }
  .header_nav {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    background: #ddd;
    width: 33%;
    margin: 0;
    transition: all 0.3s ease-in-out;
    z-index: 99999999999999;
  }
  .header_nav_active {
    left: 0;
  }
  .header_nav > li {
    display: block;
  }
  .header_nav > li > a {
    display: block;
    text-align: left;
    padding-left: 35px;
    color: #777;
  }
  .header_nav > .sm_brnd_holder {
    display: flex !important;
    justify-content: space-between;
    padding: 22px 16px;
    align-items: center;
  }
  .header_nav > .sm_brnd_holder > img {
    width: 57%;
  }
  .header_nav > .sm_brnd_holder > i {
    color: #777;
    font-size: 17px;
  }
}

@media only screen and (max-width: 768px) {
  .header_nav {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .header_nav {
    width: 51%;
  }
}

@media only screen and (max-width: 500px) {
  .contacts > figure {
    margin-right: 0;
    font-size: 11px;
  }
}

@media only screen and (max-width: 400px) {
  .header_nav {
    width: 100%;
  }
}

@media only screen and (max-width: 300px) {
  .contacts > figure {
    margin-right: 0;
    font-size: 8px;
  }
}
